{% extends 'forum/list_topics.html' %}

{% block 'dashboard-main' %} 
    <div class="border border-1 px-3 py-2 mb-4">
        <h2>{{ topic.title }}</h2>
        <p class='text-muted'>{{ topic.body }}</p>

        <small class="d-block mb-3"><strong>Criado por {{ topic.author }}</strong></small>

        <div class="d-flex justify-content-between">
            <ul class="d-flex align-items-center gap-2 p-0" style="list-style-type: none">
                <i class="fas fa-tags" style="font-size: 13px; color: rgba(0, 0, 0, 0.5)"></i>
               
                {% for tag in topic.tags.all %}
                    <a href="#" class="text-decoration-none">
                        <li>{{ tag }}{% if not forloop.last%},{% endif %}</li>
                    </a>
                {% endfor %}
            </ul>

            <p class="fw-bold text-muted">Criado a {{ topic.updated_at|timesince }} atrás</p>
        </div>
    </div>

    <div class='border border-1 p-3'>
        <div class="d-flex justify-content-between mb-3">
            <span class="fw-bold text-muted">Respostas</span>
            <a href="#" class="text-decoration-none fw-bold">Responder</a>
        </div>

        <div class='mb-4'>
            {% for reply in topic.replies.all %}
                <div style='border-top: 2px solid rgba(0, 0, 0, 0.2)'>
                    <small class="d-block my-2">
                        <span class='fw-bold text-muted'>{{ reply.author }}</span> disse a {{ reply.created_at|timesince }} atrás:
                    </small>

                    <p>
                        {{ reply.reply }}
                    </p>
                </div>
            {% endfor %}
        </div>

        <div>
            <form>
                <span class='fw-bold text-muted d-block mb-1'>Responder</span>

                <textarea class='form-control mb-3' rows='3' cols='1'></textarea>

                <button class='btn btn-primary px-3 py-1'>Enviar</button>
            </form>
        </div>
    </div>
{% endblock %}
