{% extends 'registration/dashboard.html' %}

{% block 'breadcrumbs' %}
    {{ block.super }}
    <li><a href="{{ course.course_adverts_url }}" class="text-decoration-none">{{ course }}</a></li>
    <li>/</li>
{% endblock %}

{% block 'dashboard-aside' %}
    <ul class="nav flex-column px-3 py-2">
        <p class="mb-0 text-uppercase">{{ course }}</p>
        
        <li class="nav-item">
            <a class="nav-link px-0 link-secondary pb-0" href="{% url 'lessons' course.slug_course %}">
                <i class="fas fa-video" style="font-size: 14px"></i> Aulas e Materiais
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link px-0 link-secondary pb-0" href="{% url 'course-adverts' course.slug_course %}">
                <i class="fas fa-envelope" style="font-size: 14px"></i> Anúncios
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link px-0 link-secondary pb-0" href="{% url 'forum' %}">
                <i class="fas fa-comments" style="font-size: 14px"></i> Forúm de Dúvidas
            </a>
        </li>
    </ul>
    {{ block.super }}
{% endblock %}

{% block 'dashboard-main' %}
    <h1 class="fs-3 mb-3">Anúncios</h1>
                        
    <div class="d-flex flex-column gap-3">
        {% for advert in adverts %}
            <div class="border border-1 p-3">
                <h2 class="fs-4">
                    <a href="{% url 'detail-advert' course.slug_course advert.id %}" class="text-decoration-none">{{ advert.title }}</a>
                </h2>
                <small class="text-muted d-block mb-2">{{ advert.created_at }}</small>   

                <p>{{ advert.content }}</p>
                
                <i class="fas fa-comment text-secondary"></i> 
                <a href="#" class="text-decoration-none text-muted">
                    {% with comments_count=advert.Comments.count %}
                        {{ comments_count }} Comentário{{ comments_count|pluralize }}
                    {% endwith %}
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
