{% extends 'registration/dashboard.html' %}
{% load courses_tags %}

{% block 'breadcrumbs' %}
    {{ block.super }}
    <li><a href="{{ course.course_user_url }}" class="text-decoration-none">{{ course }}</a></li>
    <li>/</li>
{% endblock %}

{% block 'dashboard-aside' %}
    <ul class="nav flex-column px-3 py-2">
        <p class="mb-0 text-uppercase">{{ course }}</p>
        
        <li class="nav-item">
            <a class="nav-link px-0 link-secondary pb-0" href="{% url 'edit_account' %}">
                <i class="fas fa-video" style="font-size: 14px"></i> Aulas e Materiais
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link px-0 link-secondary pb-0" href="{% url 'edit_password' %}">
                <i class="fas fa-info-circle" style="font-size: 14px"></i> Informações
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link px-0 link-secondary pb-0" href="{% url 'edit_password' %}">
                <i class="fas fa-envelope" style="font-size: 14px"></i> Anúncios
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link px-0 link-secondary pb-0" href="{% url 'edit_password' %}">
                <i class="fas fa-comments" style="font-size: 14px"></i> Forúm de Dúvidas
            </a>
        </li>
    </ul>
    {{ block.super }}
{% endblock %}

{% block 'dashboard-main' %}
    <h1 class="fs-3 mb-3">Anúncios</h1>
                        
    <div class="d-flex flex-column gap-3">
        {% load_user_courses user as registrations %}
        
        {% for subscribe in registrations %}
            <div class="border border-1 p-3">
                <h2 class="fs-4"><a href="" class="text-decoration-none">{{ subscribe.course }}</a></h2>
                <small class="text-muted d-block mb-2">{{ subscribe.course.created_at }}</small>   

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt maiores quia voluptatem aspernatur, voluptatum sequi optio non repudiandae magni dicta quis sed amet ullam provident tempora natus perspiciatis expedita fugit.</p>
                
                <i class="fas fa-comment text-secondary"></i> <a href="#" class="text-decoration-none text-muted">5 Comentários</a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
