{% extends 'base.html' %}

{% block 'title' %} Dashboard - {{ user }} {% endblock %}

{% block 'content' %}
    {% include 'partials/_header.html' %}

    <div class="container">
        <h1 class='mb-4 mt-3'>Meu painel</h1>

        <h2 class="fs-5 fw-normal">Nome: {{ user.first_name }} {{ user.last_name }}</h2>
        <h2 class="fs-5 fw-normal">E-mail: {{ user.email }}</h2>

        <div class="border border-1 mt-5 p-3">
            <div>
                <h1 class="fs-3">Meus cursos</h1>
                <p>Curso 1</p>
                <p>Curso 2</p>
            </div>

            <div>
                <h1>Minha Conta</h1>
                <p><a href="#">Editar Conta</a></p>
                <p><a href="#">Editar Senha</a></p>
            </div>
        </div>
    </div>

{% endblock %}
