{% extends 'base.html' %}
{% load courses_tags %}


{% block 'title' %} Dashboard - {{ user }} {% endblock %}

{% block 'content' %} 
    {% include 'partials/_header.html' %}
   
    <div class="container">
        {% include 'partials/_messages.html' %}

        <ul class="d-flex align-items-center my-4 p-0 gap-2" style="list-style: none;">
            {% block 'breadcrumbs' %}
                <li><a href="{% url 'dashboard' %}" class="text-decoration-none">Meu painel</a></li>
                <li>/</li>
            {% endblock %}
        </ul>

        <div class="row mb-5">
            <div class="col-3 p-0 d-block border border-1" style="margin-right: 50px; height: max-content;">
                
                {% block 'dashboard-aside' %}
                    <p class="text-uppercase fw-bold px-3 py-2 m-0 border-bottom">bem-vindo, {{ user.username }}</p>
                    
                    <ul class="nav flex-column border-bottom px-3 py-2">
                        <p class="mb-0 text-uppercase">Cursos</p>
                        
                        {% user_courses user %}                            
                    </ul>

                    <ul class="nav flex-column px-3 py-2">
                        <p class="mb-0 text-uppercase">Configurações de conta</p>
                        
                        <li class="nav-item">
                            <a class="nav-link px-0 link-secondary pb-0" href="{% url 'edit_account' %}">
                                <i class="fas fa-cog" style="font-size: 14px"></i> Editar informações
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link px-0 link-secondary pb-0" href="{% url 'edit_password' %}">
                                <i class="fas fa-lock" style="font-size: 14px"></i> Editar Senha
                            </a>
                        </li>
                    </ul>
                {% endblock %}
            </div>

            <div class="col">
                {% block 'dashboard-main' %}
                    <h1 class="fs-3 mb-3">Meus Cursos</h1>
                    
                    <div class="d-flex flex-column gap-3">
                        {% load_user_courses user as registrations %}
                        
                        {% for subscribe in registrations %}
                            <div class="border border-1 p-3">
                                <h2 class="fs-4"><a href="{{ subscribe.course.course_adverts_url }}" class="text-decoration-none">{{ subscribe.course }}</a></h2>
                                <small class="text-muted d-block mb-2">{{ subscribe.course.created_at }}</small>   

                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt maiores quia voluptatem aspernatur, voluptatum sequi optio non repudiandae magni dicta quis sed amet ullam provident tempora natus perspiciatis expedita fugit.</p>
                                
                                <div class="d-flex gap-2">
                                    <a href="{{ subscribe.course.course_adverts_url }}">
                                        <button class="btn btn-primary py-1">
                                            Acessar
                                        </button>
                                    </a>

                                    <a href="{% url 'unsubscribe-course' subscribe.course.slug_course %}">
                                        <button class="btn btn-danger py-1">
                                            Cancelar
                                        </button>
                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endblock %}
            </div>
        </div>
    </div>

    {% include 'partials/_footer.html' %}
{% endblock %}
