{% extends 'base.html' %}
{% load static %}

{% block 'title' %} Simple Mooc {% endblock %}


{% block 'content' %}
    {% include 'partials/_header.html' %}

    <div class="bg-light">
        <div class="container pt-4 pb-4">
            <h2 class="d-inline-block text-uppercase text-muted fs-5 mb-4 pb-1 border-bottom">Listagem de cursos do simplemooc</h2>
        
            <p class="fs-5">Abaixo a lista de cursos disponíveis na plataforma</p>
        </div>
    </div>
    
    <div class="container courses">
        {% for course in courses %}
            <div class="container card mt-5 border-0" style="max-width: 1140px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        {% if course.image_course %}
                            <img src="{{ course.image_course.url }}" class="img-fluid rounded-start" alt="{{ course.name_course }}">
                        {% else %}
                            <img src="{% static 'img/unnamed.png' %}" class="img-fluid rounded-start" alt="{{ course.name_course }}">
                        {% endif %}
                    </div>

                    <div class="col-md-8">
                        <div class="card-body py-0">
                            <a href="{% url 'course-detail' course.id %}" class="d-block text-uppercase mb-3 stretched-link">
                                {{ course.name_course }}
                            </a>

                            <p class="fw-bold">{{ course.description_course|linebreaks }}</p>
                        </div>
                    </div>
                </div>
            </div>
        {% empty %}
            <h1 class="fs-2 mt-5">Nenhum curso está disponivel na plataforma</h1>
        {% endfor %}
    </div>
    
    {% include 'partials/_footer.html' %}
{% endblock %}
